.login {
    background-color: white;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 30px !important;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin: 1rem 0;
}

.hr {
    width: 100%;
    height: 1px;
}

.socialIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 1rem 0;
}

.socialIcons > * {
    margin: 5px;
}

.signup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.signup p {
    font-weight: bold;
}