.input {
    height: 2.5em;
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.search {
    position: relative;
    width: 80%;
    max-width: 992px;
    align-self: center;
}